/* match the font on the weld-wise.com site */
@font-face {
	font-family: "Lato";
	src: local("Lato"),
		url(../../fonts/Lato/Lato-Regular.ttf) format("truetype");
}
body > * {
	font-family: Lato, arial, sans-serif;
}

/* custom colors */
.bg-ww-dark {
	background-color: #1a60a7 !important;
}

.border-ww-dark {
	border-color: #1a60a7 !important;
}

.bg-light-grey {
	background-color: #ececec !important;
}

.border-light-grey {
	border-color: #ececec;
}

.bg-ww-light {
	background-color: #4491dd;
}

.bg-ww-orange {
	background-color: #e06227 !important;
}

.btn-ww {
	background-color: #1a60a7 !important;
	border-color: #1a60a7 !important;
	color: #ffffff !important;
}

.btn-ww:hover,
.btn-ww:active,
.btn-ww:visited {
	background-color: #144d86 !important;
	border-color: #144d86 !important;
	color: #ffffff;
}

/* change color of question on hover */
.question:hover {
	background-color: #ececec;
}

/* change size of logo in the navbar */
.navbar-brand {
	width: 10%;
	min-width: 100px;
	padding: 0 !important;
	margin: 0 !important;
}
