/* match the font on the weld-wise.com site */
@font-face {
	font-family: "Lato";
	src: local("Lato"),
		url(../../fonts/Lato/Lato-Regular.ttf) format("truetype");
}
body > * {
	font-family: Lato, arial, sans-serif;
}

/* custom colors */
.bg-ww-dark {
	background-color: #145aa0 !important;
}

.text-ww-dark {
	color: #145aa0 !important;
}

.border-ww-dark {
	border-color: #145aa0 !important;
}

.bg-light-grey {
	background-color: #ececec !important;
}

.border-light-grey {
	border-color: #ececec;
}

.bg-ww-light {
	background-color: #4491dd;
}

.bg-ww-orange {
	background-color: #e06227 !important;
}

.btn-ww-dark {
	border-color: #2c6cac !important;
	color: #ffffff !important;
	background: linear-gradient(#2c6cac, #0d3e6e);
}

.btn-ww-dark:hover,
.btn-ww-dark:active,
.btn-ww-dark:visited {
	border-color: #26619b !important;
	color: #ffffff;
	background: linear-gradient(#26619b, #052646);
}

.btn-ww-light {
	border-color: #59a4f0 !important;
	color: #ffffff !important;
	background: linear-gradient(#66adf5, #3272b3);
}

.btn-ww-light:hover,
.btn-ww-light:active,
.btn-ww-light:visited {
	color: #ffffff;
	background: linear-gradient(#4b96e0, #195591);
}

.btn-ww-orange {
	border-color: #c94b11 !important;
	color: #ffffff !important;
	background: linear-gradient(#ec7e4b, #c94b11);
}

.btn-ww-orange:hover,
.btn-ww-orange:active,
.btn-ww-orange:visited {
	color: #ffffff;
	background: linear-gradient(#dd5f24, #b63b03);
}

/* override bootstrap colors */
.form-check-input:checked {
	background-color: #145aa0 !important;
	border-color: #145aa0 !important;
}

.btn-danger {
	border-color: #b42432 !important;
	background: linear-gradient(#e63e4f, #b42432);
}

.btn-danger:hover {
	border-color: #970a18 !important;
	background: linear-gradient(#d43d4c, #970a18);
}

.btn-success {
	border-color: #198754;
	background: linear-gradient(#28b171, #198754);
}

.btn-success:hover {
	border-color: #198754;
	background: linear-gradient(#239b63, #0f7043);
}

/* change size of logo in the navbar */
.navbar-brand {
	width: 10%;
	min-width: 100px;
	padding: 0 !important;
	margin: 0 !important;
}

/* remove underline */
.no-underline {
	text-decoration: none;
}

/* custom sizing */
.lg-w-50 {
	width: 50%;
}

.test-list {
	max-height: 250px;
	min-height: 250px;
	overflow-y: auto;
}

/* round scrollbar */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	background: #f5f5f5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
	background: #999;
}

/* change css when window is smaller (i.e. tablet or phone) */
@media (max-width: 992px) {
	/* custom sizing */
	.lg-w-50 {
		width: 100%;
	}

	.mb-small-screens {
		margin-bottom: 8px;
	}
}
