/* shorten text if it goes too long */
.notification-message,
.notification-title {
	max-width: 300px !important;
	text-overflow: ellipsis !important;
}

/* give border to top and bottom of row */
#notification-list tr {
	border-top-width: 1px;
	border-bottom-width: 1px;
}

/* set background color for unread notifications */
#notification-list .bg-light-blue,
#notification-list .bg-light-blue > td {
	background-color: #ecf6ff !important;
}

#notification-list .bg-light-blue:hover,
#notification-list .bg-light-blue:hover > td {
	background-color: #e0f1ff !important;
}

/* set background of regular tr on hover to make custom table-hover behavior */
#notification-list tr:not(.bg-light-blue):hover,
#notification-list tr:not(.bg-light-blue):hover > td {
	background-color: #ececec !important;
}

/* change cursor when hovering over notification */
#notification-list .notification:hover {
	cursor: pointer;
}

/* change css when window is smaller (i.e. tablet or phone) */
@media (max-width: 992px) {
	/* shorten text on smaller screens and spread things down */
	.notification-message,
	.notification-title {
		max-width: 600px !important;
		display: block !important;
		text-overflow: ellipsis !important;
	}

	/* bring everything closer together */
	.notification-title {
		padding-bottom: 0 !important;
	}

	.notification-message {
		padding-top: 0 !important;
	}

	/* change notification list because bootstrap adds weird stuff */
	#notification-list .table > :not(caption) > * > * {
		border: none !important;
	}
}

@media (max-width: 770px) {
	.notification-message,
	.notification-title {
		max-width: 400px !important;
	}
}

@media (max-width: 500px) {
	.notification-message,
	.notification-title {
		max-width: 250px !important;
	}
}

@media (max-width: 350px) {
	.notification-message,
	.notification-title {
		max-width: 200px !important;
	}
}

/* notification modal */
#notification-modal .modal-content {
	height: 35vh;
}
